body 
    {   
        text-align: center;
        background-color: aquamarine;
        font-size: 2.5em;
    }
h1
    {
        color: black;
    }
p
    {
        color: green;
    }
a:link 
    {
        color: blue;
    }
a:visited 
    {
        color: green;
    }
a:hover 
    {
        color: yellow;
    }
a:active 
    {
        color: blue;
    }
img
    {
        scale: 1;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        display: block;
    }