<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Uppgift 1.1 GET och POST</title>
        <link rel="stylesheet" href="css/laxhjalpen.css"/>
    </head>
    <body class="startpage">
        <header>
            <div class ="hwrap">
                <h1>Uppgift 1.1 GET och POST</h1>
            </div>
        </header>
        <section class="menu">
            <h2><a href="add">Add</a></h2>
            <p>Deluppgift 1.</p>
        </section>
        <section class="menu">
            <h2><a href="dice">Dice</a></h2>
            <p>Deluppgift 2.</p>
        </section>
        <section class="menu">
            <h2><a href ="passGenerator">passgenerator</a></h2>
            <p>Deluppgift utmaning.</p>
        </section>
    </body>
</html>