header, footer
{
    display: flex;
    justify-content: center;
    background-color: rgb(156, 156, 156);
    height: 1em;
    padding: 1em 0;
    font-size: larger;
}

html
{
    border-width: 10%;
    border-style: solid;
    border-color: lightgrey;
    overflow-y: scroll;
}

.main
{
    display: flex;
    flex-direction: row;
    height: 60em;
}

nav
{
    width: 30%;
    background-color: lightgrey;
}

footer
{
    position: sticky;
}