<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Company{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
    <nav id="grow">
        <a href="/">Home</a> |

        {% if loggedIn %}
        <a href="/logout">Logout</a> |
        {% else %}
        <a href="/login">Login</a> |
        <a href="/register">Register</a> |
        {% endif %}
        <a href="/about">About</a>  
    </nav>
    {% block content %}
    {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <div id="footer">
        <p>"Please, pleaseeee, pleaseeeeeeé" - Matijas Hertell 2024-11-08 10:15</p>
        <p><span>&#8203;</span></p>
        <p id="crown">W <span>&#8203;</span> <span>&#8203;</span> <span>&#8203;</span> <span>&#8203;</span> <span>&#8203;</span> <span>&#8203;</span> <span>&#8203;</span> W</p>
        <p id="crown">W</p>
    </div> 
</body>
</html>
