{% extends 'navbar.html' %}

{% block title %}My Company - About Us{% endblock %}

{% block content %}

    <h1>Welcome, {{ username }}</h1>
    <h2>Your To-Do list</h2>
    {% for item in lists %}
    <p><b>{{ item }}:</b> <input type="checkbox" name="checked"> {{ lists[item][0] }} <a href={{"/delete/" ~ lists[item][1] }}>Delete</a></p>
    {% endfor %}
    <p>Add a new Item</p>

    <form method="post">
        <p>Item: <Input type="text" name="item" placeholder="Item"></p>
        <p>Description: <input type="text" name="desc" placeholder="Description"></p>
        <p><input type="submit" value="Add"></p>
    </form>

{% endblock %}